<h1 id="useage" class="page-header">Angular2组件库引用方式</h1>

<div class="explanation">
<p>1、引入js</p>
<p> npm install @ntesmail/shark-angular2 --save</p>
<p> import &#123; SharkModule &#125; from '@ntesmail/shark-angular2';</p>
<p>2、引入css</p>
我们推荐您使用 <a href="/shark-css/index.html" target="_blank">@ntesmail/shark-css</a> shark系列组件库的html/css基石
</div>

<h1 id="modals" class="page-header">弹出层组件</h1>
<modal-demo></modal-demo>

<h1 id="tips" class="page-header">提示型组件</h1>
<tooltip-demo></tooltip-demo>
<toastr-demo></toastr-demo>

<autocomplete-demo></autocomplete-demo>
<dropdown-demo></dropdown-demo>
<selecter-demo></selecter-demo>
<fileupload-demo></fileupload-demo>
<pager-demo></pager-demo>
<popover-demo></popover-demo>
<tabs-demo></tabs-demo>
<tree-demo></tree-demo>