<%
    function includeMD(file) {
        var text = include(file);
        return converter.makeHtml(text).replace(/{/g, '&#123;').replace(/}/g, '&#125;');
    }
    function includeMDJs(file) {
        var text = include(file);
        return converter.makeHtml('```javascript\n' + text + '\n```');
    }
%>
<h1 id="dropdown">dropdown 组件</h1>
<div  class="explanation">
<%- includeMD('dropdown-api.html') %>
</div>
<div class="bs-example">
<% include dropdown-markup.html %>
</div>
<%- includeMDJs('dropdown-markup.html') %>