<div class="btn btn-default"
 shark-fileupload 
 #uploader="shark-fileupload" 
 [accept]="'image/jpg,image/jpeg,video/*'" 
 [autoupload]=false 
 [dragable]=true 
 (onSelected)="onSelected($event)" 
 (onUploading)="onUploading($event)" 
 (onUploaded)="onUploaded($event)" 
 (onFailed)="onFailed($event)" 
 >
 请选择文件
</div>
<h3>
    选中的文件是：{{file}}&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-sm btn-primary" (click)="startUpload(uploader);">
        <i class="icon-star"></i>开始上传
    </button>
</h3>
